#map {
    height: 400px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search-parameters {
    margin:2rem;
    align-items:center;
    justify-content: center;
}



.media-object {
    justify-content:center;
    align-items:center;
    margin-top:1rem;
}


label {
    margin-right:1rem;
}

#find-breweries-button {
    margin-top:20px;
}