#logo {
   border-color: black;
}

.title-bar {
    background: none;
    color: black;
}
.top-bar {
    background: none;
   
 }
  
 .dropdown.menu {

    background: none;
   
 }
  
 body {
    background-image: url("assets/banner-img.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', serif;
 }
  
 #map {
    height: 400px;
    width: 100%;
    justify-content: right;
    align-items: right;
   
 }
  
 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }

.card {
    background-color: black;
    border-radius: 5px;

}
  
 #search-parameters {
    margin:2rem;
    align-items:center;
    justify-content: center;
 }
  
 .media-object {
    justify-content:center;
    align-items:stretch;
    margin-top:1rem;
 }
  
 /* welcome to brewery finder */
 #welcome-to-brewery-finder {
    align-items:center;
    color: gainsboro;
    font-family: 'Raleway', serif;
 }
  
 label {
    color: black;
    font-weight: bold;
    padding: 5px;
 }
  
 .search-criteria {
     border-radius: 5px;
     border-color: black;
     
 }
  
  
 #find-breweries-button {
    margin-top:25px;
    border-radius: 3px;
    background-color: rgb(199,156,16);
    border-color: black;
 }
  
  
 a.clickable-navbar-link {
    font-weight:bold;
    color: black;
 }
  
 a:hover{
    background-color:rgb(199,156,16);
    /*color:white;*/
    font-weight:bold;
 }
  
  
  
 #navbar-brewery-finder {
    font-size:1.1em;
 }
  
  
 input:focus {
    outline-color:yellow;
 }
  
  
 #yelp-modal {
    width: 80%;
    height: 80%;
    border: 10px;
    justify-content: center;
    text-align: center;
    outline-color: white;
    background-color: black;
    color: white;
   
 }
  
 .dynamicallyCreatedButtons {
    background-color: transparent;
    color: black;
    font-weight: bolder;
 }
  
 .dynamicallyCreatedButtons:hover {
    background-color: black;
    opacity: 50%;
 }
 


